<div class="jumbotron">
  <div class="container">
    <% if current_user %>
      <h1>Welcome back <%= current_user.name %>!</h1>
    <% end %>

    <h2>Pages#home</h2>
    <p>Find me in app/views/pages/home.html.erb</p>

    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>

    <% if current_user.try(:teacher?) %>
      You are a teacher!
    <% end %>
  </div>
</div>
