<div class="jumbotron">
  <div class="container">
    <% if current_user %>
      <h1>Welcome back <%= current_user.name %>!</h1>
    <% end %>

    <h2>Pages#home</h2>
    <p>Find me in app/views/pages/home.html.erb</p>

    <p><%= link_to "About", about_path, class: "btn btn-primary btn-lg", role: "button"%></p>

    <% if current_user.try(:teacher?) %>
      You are a teacher!
    <% end %>
  </div>
</div>

<h1><%= Time.now.strftime("%A, %B %d, %Y")  %></h1>

<!--<link href="http://refills.bourbon.io/stylesheets/all.css" rel="stylesheet" type="text/css">-->

<div class="flex-boxes-container">
  <%= render "pages/home-flexboxes" %>
</div>
