<h1>Pages#music</h1>
<p>Find me in app/views/pages/music.html.erb</p>


<h2>
  <%= link_to new_assignment_path do %>
    <span class="glyphicon glyphicon-plus"></span> Create Assignment
  <% end %>
</h2>
