<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the dashboard!</h1>
    <p>You can edit all aspects of the application here, in case there are any issues.</p>
    <p>As well, you can also make users an admin or a teacher here.</p>
  </div>
</div>
